<div class="flex flex-col h-screen" *ngIf="property$ | async as property">
  <div
    class="bg-pink-500 text-white p-3 font-semibold cursor-pointer flex gap-2 items-center"
    [routerLink]="'/' + listID + '/' + token"
  >
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-6 fill-white" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
    </svg>
    Back to Properties
  </div>
  
  <div class="bg-pink-300 text-white p-3">
    <p class="text-2xl">{{ property.name }}</p>
    <p class="text-sm font-semibold">
      {{ property.streetAddress ? (property$|async)?.streetAddress + "," : '' }}
      {{ property.city }}
    </p>
  
    <div
      *ngIf="property.email || property.phone || property.url"
      class="mt-10 flex justify-center gap-10 items-center"
    >
      <a [href]="'tel:+' + property.phone" *ngIf="property.phone">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
        </svg>
      </a>
  
      <a [href]="'mailto:' + property.email" *ngIf="property.email">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z" />
          <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z" />
        </svg>
      </a>
  
      <a [href]="property.url" *ngIf="property.url">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </div>

  <div class="flex overflow-x-scroll gap-1.5 p-2" *ngIf="property.photos?.length">
    <img *ngFor="let item of property.photos" [src]="item" alt="photos" class="w-56">
  </div>

  <section class="h-full overflow-y-scroll px-3.5">

    <div class="" *ngIf="property.floorplans?.length">
      <h3 class="font-semibold text-2xl text-black">Plans</h3>
      <div class="grid grid-cols-1 divide-y">
        <div class="flex justify-between py-1.5 font-bold text-base">
          <h3>Bed & Bath</h3>
          <h3>Size</h3>
          <h3>Price</h3>
        </div>
        <div class="flex justify-between py-1.5" *ngFor="let plan of property.floorplans">
          <div>
            <p><span class="font-semibold">Bed</span>: {{plan.bed ?? 0}} {{plan.bed && plan.bed > 1 ? 'beds' : 'bed'}}</p>
            <p><span class="font-semibold">Bath</span>: {{plan.bath ?? 0}} {{plan.bath && plan.bath > 1 ? 'baths' : 'bath'}}</p>
          </div>
          
          <p>{{plan.sqft ?? 0}} sqft</p>
    
          <h3>{{plan.price | currency}}</h3>
        </div>
      </div>
    </div>
    
      <div class="my-3" *ngIf="property.highValueAmenities?.length">
        <h3 class="font-semibold text-2xl text-black mb-2.5">High Value Amenities</h3>
        <div class="grid grid-cols-2 gap-3">
          <div *ngFor="let amenity of property.highValueAmenities" class="flex gap-2">
            <img [src]="'https://cdn.smartlocating.com/images/svg/32/' + amenity.split('/').join('') + '.svg'" alt="" class="w-7 h-7">
            <p>{{amenity}}</p>
          </div>
        </div>
      </div>
    
      <div class="my-3" *ngIf="property.propertyAmenities?.length">
        <h3 class="font-semibold text-2xl text-black mb-2.5">Community Features</h3>
        <div class="grid grid-cols-2 gap-3">
          <div *ngFor="let amenity of property.propertyAmenities" class="flex gap-2">
            <img [src]="'https://cdn.smartlocating.com/images/svg/32/' + amenity.split('/').join('') + '.svg'" alt="" class="w-7 h-7">
            <p>{{amenity}}</p>
          </div>
        </div>
      </div>

  </section>

</div>
